---
---
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: normal 15px 'PT Serif', Georgia, Palatino, Times, 'Times New Roman', serif;
}

.pdf-link {
  float: right;
  font-size:0.8em;
  line-height: 2;
}

@media screen {
  body {
    background: url('cloth_alike.png') top left repeat #f2f1ea;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 20px auto;
  color: #4e4d48;
}

a {color: #383734;}
a:hover {color: #1b1a19;}

#resume {
  width: 650px;
  margin: 25px auto;
  background: #fafafa;
  padding: 20px 40px;
  color: #383734;
  position: relative;

  @media screen {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.3);

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }
}

hr {
  margin: 18px 0 20px 0;
  background: #cecdc4;
  height: 1px;
  overflow: hidden;
  border: none;
}

#name {
  font-size: 42px;
}

#contact_info {
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
}

#person_contact_info { margin-top: 5px; }

#description {
  font-size: 22px;
  line-height: 27px;
  min-height: 27px;
}

@media print {
  .screen-only {display: none;}
  h1, h2, h3, h4, h5, h6 { color: #000 }
  #resume {
    background: #ffffff;
    padding: 0;
    color: #000;
    border: none;
    width: 100%;
  }
  #resume a { color: #000 }

  #name { font-size: 24px; }

  #contact_info a { text-decoration: none; }

  #description {
    font-size: 18px;
    line-height: 20px;
    min-height: 20px;
  }
}
