---
---

// color scheme nabbed from:
// https://github.com/dracula/dracula-theme

$background: 	  #282a36;
$current_line: 	#44475a;
$selection: 	  #44475a;
$foreground: 	  #f8f8f2;
$comment: 	    #6272a4;
$cyan: 	        #8be9fd;
$green: 	      #50fa7b;
$orange: 	      #ffb86c;
$pink: 	        #ff79c6;
$purple: 	      #bd93f9;
$red: 	        #ff5555;
$yellow: 	      #f1fa8c;

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 1em 1em;
  max-width: 720px;
  margin: 0 auto;
  background: $background;
  color: $foreground;
}
h1,h2,h3,h4,h5{
  font-family: 'Ovo', sans-serif;
}
a {
  color: #bd93f9;
  text-decoration: underline;
}
a:hover {
  color: #ff79c6;
}
li {
  padding: 0.5em
}

#home-photo {
  border-radius: 50%;
  border: 3px solid $foreground;
  display: block;
  margin: 1em auto;
  width: 150px;
}

.post-content {
  h3 {
    display: block;
    color: #8ec9d2;
    font-weight: 300;
  }

  p {
  }
}

section,footer {
  border-top: 1px dashed $comment;
}

footer {
  font-size: 0.8em;
}
