<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="noindex">
	<title>Résumé of Charlie Tran</title>
	<link rel="stylesheet" href="../assets/resume_style.css" type="text/css">
</head>
<body>
	<div id="resume">
    <a class="pdf-link screen-only" href="/resume.pdf">(download this as a PDF)</a>
		<div id="name">Charlie Tran</div>
		<div id="contact_info">
			(858) 829-2148
      &bull;
			<a  href="mailto:hi@charlietran.com">hi@charlietran.com</a>
      &bull;
			<a href="http://github.com/charlietran">github.com/charlietran</a>
		</div>
		<hr>
		<div id="description">Engineering lead and full stack developer</div>
		<hr>
    {{ content }}
	</div> <!-- #resume -->
</body>
</html>
